<!DOCTYPE HTML>

<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="author" content="Faye Purdum" />

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>fayeishere.github.com by fayeishere</title>

    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link rel="stylesheet" href="/stylesheets/pygment_trac.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link rel="shortcut icon" href="favicon.ico">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-39046232-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>


  </head>
  <body>

    <div class="wrapper">

      <header>
        <!-- <h1><a href="/">{{ page.title }}</a></h1> -->
        <h1><a href="/">fayeishere</a></h1>
        <img src="https://secure.gravatar.com/avatar/a1e4fcf88e90abf819eeaca3500ef215?s=420&d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png"></img>
        <h2>Faye Purdum</h2>
        <p class="view"><a href="https://docs.google.com/document/d/1IODZqfSp3NADYDQADuNKsWA1wLZtFGDzrcUOi6ILwWI/pub">Here's My Resume! It features me!</a><a href="/resume/resumeFaye.pdf"><img src="/images/pdf-logo.png" id="pdf"></a></p>
        <p class="view"><a href="https://github.com/fayeishere">View My GitHub Profile</a></p>
        <p class="view"><a href="http://www.codecademy.com/users/fayeishere">Codecademy Profile</a></p>
        <p class="view"><a href="http://teamtreehouse.com/fayepurdum">Treehouse Profile</a></p>
        <p class="view"><a href="http://fayeishere.com">About Me</a></p>
      </header>

      <section>
        <div id="top">
        <h2>Faye Purdum - a developing developer</h2>
        <p>It's with little surprise that the daughter of an artist and a police officer focuses her time creating worlds and interactions that question process, politics and sustainability. Faye comes to <a href="http://www.portlandcodeschool.com">Portland Code School</a> with a BA in Community Development and a keen interest in learning how to leverage mobile technologies to connect and inspire a world of people. When she's not coding for change, you can find her producing an audio drama and animation series.
        </p>
        </div>
      <h2>My Blog Posts</h2>
      <title>{{ page.title }}</title>
      {{ content }}

      <div id="projects">
        <pre><code>
          <h2>Current Projects</h2>
          <h3><a href="https://github.com/fayeishere/free_cycle">Freecycle Mapper</a></h3>
          <p>An app for freecycle users to map out free "offered" items listed on the Freecycle forum</p>
          <img src="/images/freecycle_screen.png" width="300px"></img>
          <h3><a href="https://github.com/NeilMakn/kix_rails">Kickstarter Planner</a></h3>
          <p>An app for Kickstarter users to organize and prepare for their upcoming projects - and beyond.
          <h3><a href="https://github.com/fayeishere/humanitywar-rails">Humanity War</a></h3>
          <p>A class project app - users vote for Cards Against Humanity choices to show winning pairs</p>
          <img src="/images/humanity.png" width="300px"></img>
        </code></pre>
      </div>

      <h2>Other Things I Do</h2>
      <p><a href="http://flintlockinvestigations.tumblr.com">Write & Produce An Audio Drama</a></p>
      <p>Developing an animation series - Kickstarter details coming soon!</p>
          <img src="/images/metropolis.jpg" id="metropolis"></img>
          <div>
            <a class="twitter-timeline" href="https://twitter.com/fayeishere" data-widget-id="314938072418623488">Tweets by @fayeishere</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
          </div>
  <!-- <p><a href="https://github.com/blog/821" class="user-mention">@mention</a> a GitHub username to generate a link to their profile. The resulting <code>&lt;a&gt;</code> element will link to the contributor's GitHub Profile. For example: In 2007, Chris Wanstrath (<a href="https://github.com/defunkt" class="user-mention">@defunkt</a>), PJ Hyett (<a href="https://github.com/pjhyett" class="user-mention">@pjhyett</a>), and Tom Preston-Werner (<a href="https://github.com/mojombo" class="user-mention">@mojombo</a>) founded GitHub.</p> -->


  <!-- <p><a href="http://help.github.com/pages">http://help.github.com/pages</a> or contact <a href="mailto:support@github.com">support@github.com</a> and we’ll help you sort it out.</p> -->

      </section>

      <footer>
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    <script src="javascripts/scale.fix.js"></script>

  </body>
</html>


